<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Epicor REST</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Person Contact</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      
    </ul>

    <span *ngIf="loggedIn()" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle (click)="false">
        Welcome {{authService.decodedToken?.username}}
      </a>    
      <ul class="dropdown-menu" *dropdownMenu>
        <li class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</li>
        <div class="dropdown-divider"></div>
        <li class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Log out</li>
      </ul>
    </span>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" (ngSubmit)="login()" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" required name="username" placeholder="Username" [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" required name="password" placeholder="Password" [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
</nav>